<%# encoding: UTF-8 %>
<!DOCTYPE html>
<html lang="ja">
	<%= render partial: '_head', locals: { styles: ['reset', 'global', 'header', 'edit-task'], title: '編集'} %>
	<body>
		<%= render partial: '_header' %>
		<main class="container">
			<h2>タスク編集</h2>
			<form action="">
				<div>
					<p>期間</p>
					<input class="form-time" type="time" name="start-time" />
					<input class="form-time" type="time" name="end-time" />
				</div>
				<div>
					<p>タスク</p>
					<input class="form-task" type="text" name="start-time" />
				</div>
				<input class="edit-button" type="submit" value="タスクを編集" />
				<button class="delete-button" type="button">タスクを削除</button>
			</form>
		</main>

		<script src="/js/main.js"></script>
	</body>
</html>
