#!/usr/bin/env ruby
<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Time Task | 追加</title>
		<link rel="stylesheet" href="css/reset.css" />
		<link rel="stylesheet" href="css/global.css" />
		<link rel="stylesheet" href="css/header.css" />
		<link rel="stylesheet" href="css/add-task.css" />
		<script src="https://kit.fontawesome.com/5ba856e811.js" crossorigin="anonymous"></script>
	</head>
	<body>
		<header>
			<div class="title">
				<a href="/"><h1>Time Task</h1></a>
			</div>

			<!-- モバイル用nav menu -->
			<div class="hamburger-menu" onclick="showSidebar()">
				<a class="icon-wrapper" href="#">
					<i class="fa-solid fa-bars"></i>
				</a>
			</div>
			<!-- ハンバーガーメニューを押したら表示 -->
			<nav class="sidebar">
				<ul>
					<li onclick="hideSidebar()">
						<a href="#"><i class="fa-solid fa-xmark"></i></a>
					</li>
					<li><a href="add-task.html">追加</a></li>
					<li><a href="edit-task.html">編集</a></li>
					<li><a href="history.html">履歴</a></li>
				</ul>
			</nav>
			<!-- デスクトップ用nav menu -->
			<nav class="hide-on-mobile">
				<ul>
					<li><a href="add-task.html">追加</a></li>
					<li><a href="edit-task.html">編集</a></li>
					<li><a href="history.html">履歴</a></li>
				</ul>
			</nav>
		</header>
		<main class="container">
			<h2>タスク追加</h2>
			<form action="">
				<div>
					<p>期間</p>
					<input class="form-time" type="time" name="start-time" />
					<input class="form-time" type="time" name="end-time" />
				</div>
				<div>
					<p>タスク</p>
					<input class="form-task" type="text" name="start-time" />
				</div>
				<div>
					<p>最近追加したタスク</p>
					<select name="recent-task" id="recent-task">
						<option value="タスク1">タスク1</option>
						<option value="タスク2">タスク2</option>
						<option value="タスク3">タスク3</option>
					</select>
				</div>
				<input type="submit" value="追加" />
			</form>
		</main>

		<script src="js/main.js"></script>
	</body>
</html>
