header {
	box-shadow:
  0px 0px 0.9px rgba(0, 0, 0, 0.031),
  0px 0px 2px rgba(0, 0, 0, 0.045),
  0px 0px 3.6px rgba(0, 0, 0, 0.055),
  0px 0px 5.9px rgba(0, 0, 0, 0.065),
  0px 0px 9.8px rgba(0, 0, 0, 0.075),
  0px 0px 17.1px rgba(0, 0, 0, 0.089),
  0px 0px 37px rgba(0, 0, 0, 0.12)
;
}

.time-wrapper {
	text-align: center;
	margin-top: 48px;
	margin-bottom: 32px;
}

#time {
	display: block;
	font-size: 4rem;
}

#date {
	display: block;
	margin: 8px 0;
}

.tasks {
	display: flex;
	justify-content: flex-start;
	flex-flow: wrap;
	width: 100%;
	padding: 10px;
}

.task {
	width: 100%;
	margin-bottom: 1rem;
	padding: 12px;
	box-shadow: 0 4px 6px rgba(0,0,0,0.1);
	border-radius: 10px;
	background-color: var(--color_task_n);
}

@media (min-width: 670px) {
	.task {
		width: 32%;
		margin-right: 2%;
	}

	.task:nth-child(3n) {
		margin-right: 0;
	}
}

.task p {
	color: var(--color_task_p);
	margin-bottom: 14px;
}

.task time {
	color: var(--color_task_p);
}

.task-name {
	margin: 0 4px;
	color: var(--color_task_p);
}

.task-status {
	margin: 0 4px;
	color: var(--color_task_p);
}

.time-range {
	font-size: 36px;
}

.task-footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.switch-wrapper .toggle-button {
	width: 46px;
	height: 24px;
	position: relative;
	border: none;
	border-radius: 12px;
	background-color: var(--color_toggle_bg);
	cursor: pointer;
}

.switch-wrapper .toggle-button::after {
	content: '';
	position: absolute;
	width: 20px;
	height: 20px;
	border-radius: 100%;
	left: 1px;
	top: 1px;
	background: #ffffff;
	border: 1px solid var(--color_toggle_bg);
	z-index: 5;
	transition: 0.2s;
}

.switch-wrapper label {
	display: block;
}

.switch-wrapper input[type='checkbox'] {
	display: none;
}

.switch-wrapper input[type='checkbox']:checked + label .toggle-button {
	background-color: #55c500;
}

.switch-wrapper input[type='checkbox']:checked + label .toggle-button::after{
	border-color:var(--color_normal);
	transform: translateX(100%);
}

.task-success {
	background-color: var(--color_success);
}

.task-fail {
	background-color: var(--color_fail);
}
